.env
backend/account/migrations
backend/account/__pycache__
backend/transaction/__pycache__
backend/transaction/migrations
backend/transaction/migrations
backend/backend/__pycache__
backend/backend/migrations
fronend/node_modules
backend/myenv
backend/chat/migrations
backend/chat/__pycache__
backend/utils/__pycache__
frontend/node_modules
frontend/.next
frontend/.env.local
frontend/.DS_Store
.cursorignore